<DOCTYPE html>
    
<html>
    <head>
        <title>About</title>
         <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
         <img class="portrait" src="/img/merunning.jpg"/>
         </div>
         {{>footer}}
         
        
    </body>
    
</html>