<DOCTYPE html>
    
<html>
    <head>
        <title>help</title>
       <link rel="stylesheet" type="text/css" href="./css/styles.css"/>  
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        
        <p>{{help}}</p>
        </div>
         {{>footer}}
    </body>
    
</html>